[requires]
python_version = "3.8"

[packages]
jax = "*"
chex = "*"
mctx = "*"
orbax = "*"
dm-haiku = "*"
optax = "*"
jumanji = "*"

[dev-packages]
ruff = {version = "*", extras = ["format"]}

[scripts]
lint = "ruff check ."
format = "ruff format ."
